<h4>雇用登録情報</h4>
<p><%= link_to "新規雇用登録作成", new_staff_request_path %></p>
<div class="col-md-10 ml-sm-auto col-lg-10 px-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <% @requests.each do |request| %>
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <% if request.image.attached? %>
                  <%= image_tag request.image, size: "250x250" %>
                <% else %>
                  <%= image_tag 'no_image', size: "250x250" %>
                <% end %>
              </div>
              <div class="col-md-3">
                <p class="card-text">
                  <%= link_to staff_request_path(staff_id: request.staff_id, id: request.id) do %>
                  スタッフ名：<%= request.request_name %>
                  <% end %>
                </p>
                <p class="card-text">
                  カナ：<%= request.request_kana %>
                </P>
                <p class="card-text">
                  <% request.tags.each do |tag| %>
                <span>業務内容：<%= tag.tag_name %></span>
                <% end %>
                </P>
                <p class="card-text">
                  募集期間：<%= request.start_date.strftime("%-m月%d日") %><%= request.finish_date.strftime("%-m月%d日") %>
                </P>
                <p class="card-text">
                  業務時間：<%= request.start_time.strftime("%H時%M分")  %><%= request.finish_time.strftime("%H時%M分")  %>
                </P>
                <p class="card-text">
                  最大勤務時間：<%= request.maximum_time.strftime("%-H") %>時間
                </P>
                <p class="card-text">
                  勤務場所：<%= request.place %>
                </P>
                <p class="card-text">
                  連絡先：<%= request.contact_address %>
                </P>
              </div>
              <div class="col-md-3">
                <p class="card-text">
                  業務詳細：<%= request.introduction %>
                </P>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>