<h4>雇用新規登録</h4>

<% if @requests.errors.any? %>
  <%= @requests.errors.count %>件のエラーが発生しました
  <ul>
    <% @requests.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @requests, url: staff_requests_path, method: :post do |f| %>
  <h6>自己画像</h6>
  <%= f.file_field :image, accept: "image/*" %>
  <h6>名前</h6>
  <%= f.text_field :name %>
  <h6>フリガナ</h6>
  <%= f.text_field :kana %>
  <h6>可能な業務</h6>
    <div class='form-group'>
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :tag_name, :tag_name) do |tag| %>
            <div class='form-check'>
                <%= tag.label class: 'form-check-label' do %>
                    <%= tag.check_box class: 'form-check-input' %>
                    <%= tag.text %>
                <% end %>
            </div>
        <% end %>
        <label>タグを追加する(,で区切ると複数タグ登録できます)</label></br>
        <%= f.text_field :tag_name,value: @tag_list, class: 'form-control' %>
  <h6>自己紹介</h6>
  <%= f.text_area :introduction %>
   <P>日付</P>
  <%= f.date_field :date %>
  <p>時間</p>
  <%= f.time_field :start_time %><%= f.time_field :finish_time %>
  <h6>場所</h6>
  <%= f.text_field :place %>
  <h6>連絡先</h6>
  <%= f.text_field :contact_address %>
  <%= f.submit '新規登録' %>
<% end %>