<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h4>依頼新規登録</h4>
        <% if @requests.errors.any? %>
          <%= @requests.errors.count %>件のエラーが発生しました
          <ul>
            <% @requests.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <%= form_with model: @requests, url: staff_requests_path, method: :post do |f| %>
          <div class="row">
            <div class="col-6">
              <h6>自己画像</h6>
              <%= f.file_field :image, accept: "image/*" %>
              <h6>名前</h6>
              <%= f.text_field :request_name, class: 'form-control' %>
              <h6>フリガナ</h6>
              <%= f.text_field :request_kana, class: 'form-control' %>
              <h6>可能な業務</h6>
              <%= f.collection_check_boxes(:tag_ids, Tag.all, :tag_name, :tag_name) do |tag| %>
              <div class='form-check'>
              <%= tag.label class: 'form-check-label' do %>
              <%= tag.check_box class: 'form-check-input' %>
              <%= tag.text %>
              <% end %>
              </div>
              <% end %>
              <label>タグを追加する(,で区切ると複数タグ登録できます)</label></br>
              <%= f.text_field :tag_name,value: @tag_list, class: 'form-control' %>
              <P>受付期間</P>
              <%= f.date_field :start_date, class: 'form-control' %><%= f.date_field :finish_date, class: 'form-control' %>
              <p>時間</p>
              <%= f.time_field :start_time, class: 'form-control' %><%= f.time_field :finish_time, class: 'form-control' %>
              <h6>最大勤務時間</h6>
              <%= f.number_field :maximum_time, in: 1..10, class: 'form-control' %>
            </div>
            <div class="col-6">
              <h6>場所</h6>
              <%= f.text_field :place, class: 'form-control' %>
              <h6>連絡先</h6>
              <%= f.text_field :contact_address, class: 'form-control' %>
              <h6>自己紹介</h6>
              <%= f.text_area :introduction, class: 'form-control' %>
              <%= f.submit '新規登録' %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>