<h4>雇用登録情報</h4>
      <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <div class="row">
                   <div class="col-md-4">
                     <%= image_tag @request.image, size: "300x300" %>
                   </div>
                   <div class="col-md-3">
                      <p class="card-text">
                        スタッフ名：<%= @request.request_name %>
                      </p>
                      <p class="card-text">
                        カナ：<%= @request.request_kana %>
                      </P>
                      <p class="card-text">
                        可能な業務：<% @request.tags.each do |tag| %>
                      <span><%= tag.tag_name %></span>
                      <% end %>
                      </P>
                      <p class="card-text">
                        募集期間：<%= @request.start_date.strftime("%-m月%d日") %> - <%= @request.finish_date.strftime("%-m月%d日") %>
                      </P>
                      <p class="card-text">
                        業務時間：<%= @request.start_time.strftime("%H時%M分")  %> - <%= @request.finish_time.strftime("%H時%M分")  %>
                      </P>
                      <p class="card-text">
                        最大勤務時間：<%= @request.maximum_time.strftime("%-H") %>時間
                      </P>
                      <p class="card-text">
                        勤務場所：<%= @request.place %>
                      </P>
                      <p class="card-text">
                        連絡先：<%= @request.contact_address %>
                      </P>
                    </div>
                    <div class="col-md-3">
                      <p class="card-text">
                        業務詳細：<%= @request.introduction %>
                      </P>
                        <div class="btn-group">
                         <%= link_to edit_staff_request_path(staff_id: @request.staff_id, id: @request.id) do %>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        <% end %>
                        <%= link_to staff_request_path(staff_id: @request.staff_id, id: @request.id), method: :delete, data: { confirm: "Are you sure" } do %>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                        <% end %>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>