<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h4>商品編集</h4>

      <% if @recruitment.errors.any? %>
        <%= @recruitment.errors.count %>errors prohibited this item from being saved:
        <ul>
          <% @recruitment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= form_with model: @recruitment, url: company_recruitment_path(@recruitment.id), method: :patch do |f| %>

        <div class="form-grop mt-2">
           <h6>会社画像</h6>
           <%= f.file_field :image, accept: "image/*" %>
        </div>

        <div class="form-grop mt-2">
          <h6>会社名</h6>
          <%= f.text_field :name %>
        </div>

        <div class="form-grop mt-2">
          <h6>フリガナ</h6>
          <%= f.text_field :kana %>
        </div>

        <div class="form-grop mt-2">
          <h6>業務内容</h6>
          <%= f.text_field :business %>
        </div>

        <div class="form-grop mt-2">
          <h6>時給</h6>
          <%= f.text_field :hourly_wage %>
        </div>

        <div class="form-grop mt-2">
          <h6>日付</h6>
          <%= f.date_field :date %>
        </div>

        <div class="form-grop mt-2">
          <h6>時間</h6>
          <%= f.time_field :time %>
        </div>

        <div class="form-grop mt-2">
          <h6>場所</h6>
          <%= f.text_field :place %>
        </div>

        <div class="form-grop mt-2">
          <h6>連絡先</h6>
          <%= f.text_field :contact_address %>
        </div>

        <div class="form-grop mt-2">
          <h6>雇用説明</h6>
          <%= f.text_area :introduction %>
        </div>

        <div class="form-grop mt-2">
          <%= f.submit '変更を保存', class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>