<h4>募集登録情報</h4>

<%= link_to "新規募集作成", new_company_recruitment_path %>

<div class="col-md-10 ml-sm-auto col-lg-10 px-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
        <% @recruitments.each do |recruitment| %>
          <div class="card mb-4 shadow-sm">

            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <% if recruitment.image.attached? %>
                  　<%= image_tag recruitment.image, size: "250x250" %>
                　<% else %>
                  　<%= image_tag 'no_image', size: "250x250" %>
                　<% end %>
                </div>
                <div class="col-md-3">
                  <p class="card-text">
                    <%= link_to company_recruitment_path(company_id: recruitment.company_id, id: recruitment.id) do %>
                    会社名：<%= recruitment.recruitment_name %>
                    <% end %>
                  </p>
                  <p class="card-text">
                    カナ：<%= recruitment.recruitment_kana %>
                  </P>
                  <p class="card-text">
                    業務内容 :
                    <% recruitment.tags.each do |tag| %>
                    <span><%= tag.tag_name %></span>
                  <% end %>
                  </P>
                  <p class="card-text">
                    募集期間：<%= recruitment.start_date.strftime("%-m月%d日") %><%= recruitment.finish_date.strftime("%-m月%d日") %>
                  </P>
                  <p class="card-text">
                    業務時間：<%= recruitment.start_time.strftime("%H時%M分")  %><%= recruitment.finish_time.strftime("%H時%M分")  %>
                  </P>
                  <p class="card-text">
                    最低勤務時間：<%= recruitment.minimum_time.strftime("%-H") %>時間
                  </P>
                  <p class="card-text">
                    時給：<%= recruitment.hourly_wage %>円
                  </P>
                  <p class="card-text">
                    勤務場所：<%= recruitment.place %>
                  </P>
                  <p class="card-text">
                    連絡先：<%= recruitment.contact_address %>
                  </P>
                </div>
                <div class="col-md-3">
                  <p class="card-text">
                    業務詳細：<%= recruitment.introduction %>
                  </P>
                </div>

            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>

</div>