<h4>雇用登録詳細</h4>

<table>
  <thead>
    <tr>
      <th></th>
      <th>会社名</th>
      <th>カナ</th>
      <th>業務内容</th>
      <th>業務時間</th>
      <th>最低勤務時間</th>
      <th>時給</th>
      <th>場所</th>
      <th>連絡先</th>
      <th>業務紹介</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

　<tbody>
    <tr>
      <td>
        <% if @recruitment.image.attached? %>
          <%= image_tag @recruitment.image, size: "100x100" %>
        <% else %>
          <%= image_tag 'no_image', size: "100x100" %>
        <% end %>
      </td>
      <td>
        <%= @recruitment.recruitment_name %>
       </td>
       <td>
        <%= @recruitment.recruitment_kana %>
       </td>
      <td>
        <% @recruitment.tags.each do |tag| %>
        <span><%= tag.tag_name %></span>
        <% end %>
      </td>
      <td>
        <%= @recruitment.date %>
        <%= @recruitment.start_time %><%= @recruitment.finish_time %>
      </td>
      <td><%= @recruitment.minimum_time %></td>
      <td><%= @recruitment.hourly_wage %></td>
      <td><%= @recruitment.place %></td>
      <td><%= @recruitment.contact_address %></td>
      <td><%= @recruitment.introduction %></td>
      <td><%= link_to "Edit", edit_company_recruitment_path(company_id: @recruitment.company_id, id: @recruitment.id) %></td>
      <td><%= button_to "Destroy", company_recruitment_path(company_id: @recruitment.company_id, id: @recruitment.id), method: :delete, data: { confirm: "Are you sure" } %></td>
    </tr>
  </tbody>
</table>