<h4>会社一覧</h4>

<table>
  <thead>
    <tr>
      <th></th>
      <th>会社名</th>
      <th>カナ</th>
      <th>業務内容</th>
      <th>業務時間</th>
      <th>時給</th>
      <th>場所</th>
      <th>連絡先</th>
      <th>業務紹介</th>
    </tr>
  </thead>

　<tbody>
　 <%= form_tag({controller:"recruitments",action:"index"}, method: :get) do %>
    <% Tag.all.each do |t| %>
        <li><%= check_box :tag_name, t.tag_name %><%= t.tag_name %></li>
    <% end %>
    <%= submit_tag '検索' %>
  <% end %>
  <% @recruitments.each do |recruitment| %>
    <tr>
      <td>
        <% if recruitment.image.attached? %>
          <%= image_tag recruitment.image, size: "100x100" %>
        <% else %>
          <%= image_tag 'no_image', size: "100x100" %>
        <% end %>
      </td>
      <td>
        <%= link_to staff_recruitment_path(recruitment.id) do %>
        <%= recruitment.name %>
        <% end %>
       </td>
       <td>
        <%= recruitment.kana %>
       </td>
      <td>
        <% recruitment.tags.each do |tag| %>
        <span><%= tag.tag_name %></span>
        <% end %>
      </td>
      <td>
        <%= recruitment.date %>
        <%= recruitment.start_time %><%= recruitment.finish_time %>
      </td>
      <td><%= recruitment.hourly_wage %></td>
      <td><%= recruitment.place %></td>
      <td><%= recruitment.contact_address %></td>
      <td><%= recruitment.introduction %></td>
    </tr>
  <% end %>
  </tbody>
</table>