

<div>
     <h4>会社一覧</h4>
  </div>
  <div class="col-md-10 ml-sm-auto col-lg-10 px-4">
  <div class="container-fluid">
   <div>
    <% flash.each do |message_type, message| %>
    　　<div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
   </div>
   <div class="row">
    <div class="col-md-10">
     <div class="card mb-4 shadow-sm">
     <%= form_tag({controller:"recruitments",action:"index"}, method: :get) do %>
        <% Tag.all.each do |t| %>
            <li><%= check_box :tag_name, t.tag_name %><%= t.tag_name %></li>
        <% end %>
        <%= submit_tag '検索' %>
      <% end %>
      </div>
    </div>
   </div>

    <div class="row">
      <% @recruitments.each do |recruitment| %>
      <div class="col-md-10">
        <div class="card mb-4 shadow-sm">


          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <%= image_tag recruitment.image, size: "250x250" %>
              </div>
              <div class="col-md-3">
                 <p class="card-text">
                <%= link_to staff_recruitment_path(company_id: recruitment.company_id, id: recruitment.id) do %>
                会社名：<%= recruitment.recruitment_name %>
                <% end %>
                </p>
                <p class="card-text">
                カナ：<%= recruitment.recruitment_kana %>
                </P>
                <p class="card-text">
                業務内容：
                <% recruitment.tags.each do |tag| %>
                <span><%= tag.tag_name %></span>
                <% end %>
                </P>
                <p class="card-text">
                募集期間：<%= recruitment.start_date.strftime("%-m月%d日") %> - <%= recruitment.finish_date.strftime("%-m月%d日") %>
                </P>
                <p class="card-text">
                業務時間：<%= recruitment.start_time.strftime("%H時%M分")  %> - <%= recruitment.finish_time.strftime("%H時%M分")  %>
                </P>
                <p class="card-text">
                最低勤務時：<%= recruitment.minimum_time.strftime("%-H") %>時間
                </P>
                <p class="card-text">
                時給：<%= recruitment.hourly_wage %>
                </P>
                <p class="card-text">
                場所：<%= recruitment.place %>
                </P>
                <p class="card-text">
                連絡先：<%= recruitment.contact_address %>
                </P>
              </div>
              <div class="col-md-3">
               <p class="card-text">
                業務紹介：<%= recruitment.introduction %>
                </P>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  </div>
 </div>
</div>