<h4>スタッフ一覧</h4>
 <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
 <div class="container-fluid">
   <div class="row">
    <div class="col-md-9">
     <div class="card mb-4 shadow-sm">
     <%= form_tag({controller:"requests",action:"index"}, method: :get) do %>
        <% Tag.all.each do |t| %>
            <li><%= check_box :tag_name, t.tag_name %><%= t.tag_name %></li>
        <% end %>
        <%= submit_tag '検索' %>
      <% end %>
      </div>
    </div>
   </div>

    <div class="row">
      <% @requests.each do |request| %>
      <div class="col-md-9">
        <div class="card mb-4 shadow-sm">
          <% if request.image.attached? %>
              <%= image_tag request.image, size: "100x100" %>
            <% else %>
              <%= image_tag 'no_image', size: "100x100" %>
            <% end %>

          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                 <p class="card-text">
                <%= link_to company_request_path(staff_id: request.staff_id, id: request.id) do %>
                スタッフ名：<%= request.request_name %>
                <% end %>
                </p>
                <p class="card-text">
                カナ：<%= request.request_kana %>
                </P>
                <p class="card-text">
                <% request.tags.each do |tag| %>
                <span>可能な業務：<%= tag.tag_name %></span>
                <% end %>
                </P>
                <p class="card-text">
                受付期間：<%= request.start_date.strftime("%-m月%d日") %> - <%= request.finish_date.strftime("%-m月%d日") %>
                </P>
                <p class="card-text">
                業務時間：<%= request.start_time.strftime("%H時%M分")  %> - <%= request.finish_time.strftime("%H時%M分")  %>
                </P>
                <p class="card-text">
                可能な最大業務時間：<%= request.maximum_time.strftime("%-H") %>時間
                </P>
                <p class="card-text">
                勤務場所：<%= request.place %>
                </P>
                <p class="card-text">
                連絡先：<%= request.contact_address %>
                </P>
              </div>
              <div class="col-md-5">
               <p class="card-text">
                自己紹介：<%= request.introduction %>
                </P>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  </div>
  </main>
</div>