<h4>スタッフ詳細</h4>
  <div class="col-md-10 ml-sm-auto col-lg-10 px-4">
   <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <%= image_tag @request.image, size: "250x250" %>
                    </div>
                    <div class="col-md-3">
                      <p class="card-text">
                        スタッフ名：<%= @request.request_name %>
                      </p>
                      <p class="card-text">
                        カナ：<%= @request.request_kana %>
                      </P>
                      <p class="card-text">
                        <% @request.tags.each do |tag| %>
                      <span>可能な業務：<%= tag.tag_name %></span>
                      <% end %>
                      </P>
                      <p class="card-text">
                        受付期間：<%= @request.start_date.strftime("%-m月%d日") %> - <%= @request.finish_date.strftime("%-m月%d日") %>
                      </P>
                      <p class="card-text">
                        業務時間：<%= @request.start_time.strftime("%H時%M分")  %> - <%= @request.finish_time.strftime("%H時%M分")  %>
                      </P>
                      <p class="card-text">
                        可能な最大業務時間：<%= @request.maximum_time.strftime("%-H") %>時間
                      </P>
                      <p class="card-text">
                        勤務場所：<%= @request.place %>
                      </P>
                      <p class="card-text">
                        連絡先：<%= @request.contact_address %>
                      </P>
                    </div>
                    <div class="col-md-3">
                      <p class="card-text">
                      自己紹介：<%= @request.introduction %>
                      </P>
                        <% if company_signed_in? %>
                          <div class="btn-group">
                            <%= form_with model: @request_form, url: company_request_forms_path, method: :post,local:true do |f| %>
                            <%= f.hidden_field :request_id, value: @request.id %>
                            <%= f.hidden_field :staff_id, value: @staff.id %>
                            <%= f.submit '依頼フォームに進む' ,class: 'btn btn-success btn-sm'%>
                            <% end %>
                          </div>
                        <% end %>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div