
  <div class="container-fluid">
  <div class="row">

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <h4>送信依頼一覧</h4>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>スタッフ名</th>
                <th>フリガナ</th>
                <th>雇用場所</th>
                <th>勤務日時</th>
                <th>勤務時間</th>
                <th>時給</th>
                <tH>返答期限</tH>
                <th>リクエストステータス</th>
              </tr>
            </thead>
            <tbody>
              <% @employments.each do |employment| %>
                <tr>
                  <td>
                  <%= link_to company_employment_path(employment.id) do %>
                  <%= employment.employment_details.first.request.request_name %>
                  <% end %>
                  </td>
                  <td><%= employment.employment_details.first.request.request_kana %></td>
                  <td><%= employment.place_of_employment %></td>
                  <td>
                  <%= employment.date.strftime("%-m月%-d日") %> <%= employment.start_time.strftime("%H時%M分") %> - <%= employment.finish_time.strftime("%H時%M分") %>
                  </td>
                  <td><%= employment.hours.strftime("%-H") %>時間</td>
                  <td><%= employment.hourly_wage %></td>
                  <td><%= employment.response_deadline.strftime("%-m月%-d日") %></td>
                  <td><%= I18n.t("enums.employment.employment_status.#{employment.employment_status}") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      </div>
    </main>
  </div>
 </div>




