<h4>受信依頼確認画面</h4>

  <table>
    <thead>
      <th>会社名</th>
      <th>通勤開始場所</th>
      <th>希望勤務日時</th>
      <th>希望勤務時間</th>
      <th>希望交通手段<th>
      <th>自己紹介</th>
      <th>連絡先</th>
      <tH>返答期限</tH>
    </thead>
    <tbody>
        <tr>
          <td><%= @work.staff.first_name %><%= @work.staff.last_name %></td>
          <td><%= @work.whereabouts %></td>
          <td>
            <%= @work.date.strftime("%-m月%-d日") %><%= @work.start_time.strftime("%H時%M分") %> <%= @work.finish_time.strftime("%H時%M分") %>
          </td>
          <td><%= @work.hours.strftime("%-H") if @work.hours %> 時間</td>
          <td><%= @work.transportation %></td>
          <td><%= @work.introduction %></td>
          <td><%= @work.contact_address %></td>
          <td><%= @work.response_deadline.strftime("%-m月%-d日") %></td>
          <td>
            <%= form_with model: @work, url: update_status_company_work_path(@work), method: :patch do |f| %>
            <%= f.select :work_status, Work.work_statuses_i18n, class: "form-control" %>
            <%= f.submit "更新", class: "btn btn-primary" %>
            <% end %>
          </td>
        </tr>
    </tbody>
  </table>