<h2>応募画面</h2>

<%= button_to "応募をリセットする", staff_destroy_all_recruitment_forms_path, method: :delete %>

  <table>
    <thead>
      <th></th>
      <th>会社名</th>
      <th>フリガナ</th>
      <th>実施業務</th>
      <th>勤務日時</th>
      <th>最低勤務時間</th>
      <th>時給</th>
      <th>場所</th>
      <th>連絡先</th>
      <th>業務紹介</th>
    </thead>
    <tbody>
      <% @recruitment_forms.each do |recruitment_form| %>
        <tr>
          <td><%#= image_tag request_form.get_image, size: "100x100" %></td>
          <td><%= recruitment_form.recruitment.recruitment_name %></td>
          <td><%= recruitment_form.recruitment.recruitment_kana %></td>
          <td>
            <% recruitment_form.recruitment.tags.each do |tag| %>
            <span><%= tag.tag_name %></span>
            <% end %>
          </td>
          <td><%= recruitment_form.recruitment.start_date.strftime("%-m月%d日") %><%= recruitment_form.recruitment.finish_date.strftime("%-m月%d日") %></td>
          <td><%= recruitment_form.recruitment.start_time.strftime("%H時%M分") %><%= recruitment_form.recruitment.finish_time.strftime("%H時%M分") %></td>
          <td><%= recruitment_form.recruitment.minimum_time.strftime("%-H") %></td>
          <td><%= recruitment_form.recruitment.hourly_wage %></td>
          <td><%= recruitment_form.recruitment.place %></td>
          <td><%= recruitment_form.recruitment.contact_address %></td>
          <td><%= recruitment_form.recruitment.introduction %></td>
          <td> <%= button_to "削除", staff_recruitment_form_path(recruitment_form.id), method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <%= link_to "依頼を続ける", staff_recruitments_path %>
    <%# if @recruitmentt_forms.present? %>
      <%= link_to "購入に進む", new_staff_work_path, method: :post %>
    <%# end %>
  </div>

