<h2>依頼画面</h2>

<%= button_to "依頼をリセットする", staff_destroy_all_recruitment_forms_path, method: :delete %>
<div class="col-md-9 mx-auto col-lg-10 px-4">

        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <th>会社名</th>
              <th>フリガナ</th>
              <th>募集期間</th>
              <th>勤務時間</th>
              <th>最低勤務時間</th>
              <th>時給</th>
              <th>場所</th>
            </thead>
            <tbody>
              <% @recruitment_forms.each do |recruitment_form| %>
                <tr>
                  <td><%= recruitment_form.recruitment.recruitment_name %></td>
                  <td><%= recruitment_form.recruitment.recruitment_kana %></td>
                  <td><%= recruitment_form.recruitment.start_date.strftime("%-m月%d日") %> - <%= recruitment_form.recruitment.finish_date.strftime("%-m月%d日") %></td>
                  <td><%= recruitment_form.recruitment.start_time.strftime("%H時%M分") %> - <%= recruitment_form.recruitment.finish_time.strftime("%H時%M分") %></td>
                  <td><%= recruitment_form.recruitment.minimum_time.strftime("%-H") %></td>
                  <td><%= recruitment_form.recruitment.hourly_wage %></td>
                  <td><%= recruitment_form.recruitment.place %></td>
                  <td> <%= link_to "依頼に進む", staff_works_new_path(company_id:recruitment_form.company_id) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <div>

        </div>
      </div>
      </div>
    </div>
  </div>
 </div>

