<h4>依頼リスト一覧画面</h4>

  <table>
    <thead>
      <th>会社名</th>
      <th>フリガナ</th>
      <th>雇用場所</th>
      <th>勤務日時</th>
      <th>勤務時間</th>
      <th>時給<th>
      <th>業務説明</th>
      <th>連絡先</th>
      <tH>返答期限</tH>
      <th>リクエストステータス</th>
    </thead>
    <tbody>
      <% @employments.each do |employment| %>
        <tr>
          <td>
            <%= link_to staff_employment_path(employment.id) do %>
            <%= employment.employment_name %>
            <% end %>
          </td>
          <td><%= employment.employment_kana %></td>
          <td><%= employment.place_of_employment %></td>
          <td>
          <%= employment.date.strftime("%-m月%-d日") %><%= employment.start_time.strftime("%H時%M分") %> <%= employment.finish_time.strftime("%H時%M分") %>
          </td>
          <td><%= employment.hours.strftime("%-H") %>時間</td>
          <td><%= employment.hourly_wage %></td>
          <td><%= employment.introduction %></td>
          <td><%= employment.contact_address %></td>
          <td><%= employment.response_deadline.strftime("%-m月%-d日") %></td>
          <td><%= I18n.t("enums.employment.employment_status.#{employment.employment_status}") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>