<!DOCTYPE html>
<html>
  <head>
    <title>PtHelper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/aa4cccd1bf.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" >
        <%= link_to "Logo", staff_root_path %>
        </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <% if company_signed_in? %>
                <li class="nav-item">
                  <%= link_to "スタッフ一覧", company_requests_path %>
                </li>
                <li class="nav-item">
                  <%= link_to "マイページ", company_companys_my_page_path %>
                </li>
                <li class="nav-item">
                  <%= link_to "トップページ", company_root_path %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_company_session_path, method: :delete %>
                </li>

              <% elsif staff_signed_in? %>
                <li class="nav-item">
                  <%= link_to "会社一覧", staff_recruitments_path %>
                </li>
                <li class="nav-item">
                  <%= link_to "マイページ", staff_staffs_my_page_path %>
                </li>
                <li class="nav-item">
                  <%= link_to "トップページ",  staff_root_path %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_staff_session_path, method: :delete %>
                </li>

              <% else %>
                <li class="nav-item">
                  <%= link_to "会社一覧", staff_recruitments_path %>
                </li>
                <li class="nav-item">
                  <%= link_to "スタッフ一覧", company_requests_path %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規登録", company_homes_confirm_registration_path %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", company_homes_confirm_session_path %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
